.pointer {
  cursor: pointer;
}

.addToCart {
  width: 286px;
  height: 38px;
  color: white !important;


}

.selected {
  color: white !important;
}


.align {
  float: right;
}
.Qtyno {
 align-self: center !important;
 display: inline-flex;
}
